<div id="game-dashboard">
    <div id="round-management-container">
        <button (click)="newRound()">New round</button>
        <button (click)="finishRound()">Finish round</button>
    </div>
    <div class="round" *ngFor="let round of game?.rounds" (click)="selectedRound = round">
        {{round.subject}} ({{round.consensus}})
    </div>
</div>
<div id="table">
    <div id="other-players">
        <other-player *ngFor="let otherPlayer of otherPlayers" [otherPlayer]="otherPlayer"></other-player>
    </div>
    <div id="current-player-area">
        <div id="card-slot-area">
            <card-slot *ngIf="!currentPlayerEstimation" title="Drag & drop a card here"
                (drop)="onCardSelected($event)" (dragover)="allowDrop($event)">
            </card-slot>
            <card *ngIf="currentPlayerEstimation" [value]="currentPlayerEstimation"></card>
        </div>
        <div id="suite">
            <card *ngFor="let cardValue of cardValues" [value]="cardValue.value" [draggable]="!currentPlayerEstimation"
                (dragstart)="onDragStart($event, cardValue.value)">
            </card>
        </div>
    </div>
</div>