:host {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr;
}

#table {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: 2 / 3;
}

#other-players {
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow-x: auto;
}

other-player {
    text-align: center;
}

#card-slot-area {
    flex-basis: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

card-slot {
    --height: 100px;
    --width: calc(0.8 * var(--height));
}

#current-player-area {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#suite {
    flex-basis: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2% 0;
}

card {
    --color: green;
    --height: 100px;
    --width: calc(0.8 * var(--height));
    --font-size: 20px;
    --text-color: white;
    margin: 2px;
}
card[draggable=true] {
    cursor: pointer;
}
card.outstanding {
    --color: red;
}

#game-dashboard {
    overflow: auto;
    border-right: 1px solid gray;
    grid-column: 1 / 2;
}

.round {
    border-bottom: 1px solid gray;
    padding: 2px;
}
.round:hover {
    cursor: pointer;
}

#round-management-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid gray;
}

#round-management-container > button {
    margin: 0px 2px;
}