<div id="table">
    <div id="other-players">
        <other-player *ngFor="let otherPlayer of otherPlayers" [otherPlayer]="otherPlayer"></other-player>
    </div>
    <div id="current-player-area">
        <div id="suite">
            <card *ngFor="let cardValue of cardValues" [value]="cardValue"
                  [draggable]="!isEstimationMade" (dragstart)="onDragStart($event, cardValue)" (dragend)="onDragEnd($event)">
            </card>
        </div>
        <div id="card-slot-area" #cardSlotArea>
            <card-slot *ngIf="!isEstimationMade" title="Drag & drop a card here"
                       (drop)="onCardSelected($event, cardSlotArea)" (dragover)="allowDrop($event)">
            </card-slot>
        </div>
    </div>
</div>