#table {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#other-players {
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow-x: auto;
}

other-player {
    text-align: center;
}

suite {
    flex: 3;
}

#card-slot-area {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

card-slot {
    --height: 100px;
    --width: calc(0.8 * var(--height));
    --font-size: 20px;
}

#current-player-area {
    display: flex;
}