<div id="game-info">
    <button (click)="newRound()">New round</button>
    Current subject: {{currentSubject}}
</div>
<div id="table">
    <div id="other-players">
        <other-player *ngFor="let otherPlayer of otherPlayers" [otherPlayer]="otherPlayer"></other-player>
    </div>
    <div id="current-player-area">
        <div id="suite">
            <card *ngFor="let cardValue of cardValues" [value]="cardValue.value" [text]="cardValue.text"
                  [draggable]="!currentPlayerEstimation" (dragstart)="onDragStart($event, cardValue.value)">
            </card>
        </div>
        <div id="card-slot-area" #cardSlotArea>
            <card-slot *ngIf="!currentPlayerEstimation" title="Drag & drop a card here"
                       (drop)="onCardSelected($event, cardSlotArea)" (dragover)="allowDrop($event)">
            </card-slot>
        </div>
    </div>
</div>