#card {
    background-color: var(--color, green);
    width: var(--width);
    height: var(--height);
    font-size: var(--font-size);
    display: flex;
    align-items: center;
    justify-content: center;
}

#filler {
    background-color: white;
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#value-background {
    background-color: var(--color);
    border-radius: 50%;
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#value {
    color: var(--text-color, white);
}