#suite {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

card {
    --color: green;
    --height: 100px;
    --width: calc(0.8 * var(--height));
    --font-size: 20px;
    --text-color: white;
    cursor: pointer;
    margin: 2px;
}
card.outstanding {
    --color: red;
}