#suite {
    display: flex;
}

card {
    --color: green;
    --height: 100px;
    --width: calc(0.8 * var(--height));
    --font-size: 20px;
    --text-color: white;
    cursor: pointer;
    margin: 2px;
}
card.outstanding {
    --color: red;
}
card.selected {
    position: relative;
    animation-duration: 0.7s;
    animation-name: slideForward;
    animation-fill-mode: forwards;
}
@keyframes slideForward {
    from {
        top: 0px;
    }
    to {
        top: calc(0px - var(--height));
    }
}