#card {
    --color: green;
    --height: 100px;
    background-color: var(--color);
    display: inline-block;
    width: calc(0.8 * var(--height));
    height: var(--height);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

#card.outstanding {
    background-color: red;
}

#filler {
    background-color: white;
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#value-background {
    background-color: var(--color);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#value {
    padding: 0.5em;
    color: white;
}