#card {
    --color: green;
    --height: 100px;
    background-color: var(--color);
    display: inline-block;
    width: calc(0.8 * var(--height));
    height: var(--height);
    display: flex;
    align-items: center;
    justify-content: center;
}
#card.selected {
    position: relative;
    animation-duration: 0.7s;
    animation-name: slideForward;
    animation-fill-mode: forwards;
}

@keyframes slideForward {
    from {
      top: 0px;
    }
    to {
      top: calc(0px - var(--height));
    }
}

#filler {
    background-color: white;
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#value-background {
    background-color: var(--color);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#value {
    padding: 0.5em;
    color: white;
    font-size: 20px;
}